:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magneta-op: hsl(289, 100%, 72%, 30%);
    --very-light-magneta: hsl(289, 100%, 72%);
    --main-gradient: hsl(293, 100%, 63%);
    --secondary-gradient: hsl(264, 100%, 61%);
}
* {
    box-sizing: border-box;
    margin: 0;
}
::selection {
    background-color: var(--secondary-gradient);
    color: white;
}
body {
    font-size: 16px;
    height: 100vh;
    position: relative;
    margin: 0px;
    background-color: var(--light-grayish-violet, white);
}
/* start main  */
main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media all and (max-width:375px) {
    main {
        flex-direction: column;
    }
}
/* end main */
/* deco start  */
.deco-1 {
    background: linear-gradient(222deg, var(--main-gradient, red), var(--secondary-gradient, blue));
    width: 245px;
    height: 656px;
    border-bottom-right-radius: 110px;
    border-bottom-left-radius: 110px;
}
.deco-2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background: linear-gradient(222deg, var(--main-gradient, red), var(--secondary-gradient, blue));
    opacity: 8%;
    width: 220px;
    height: 500px;
    border-top-right-radius: 110px;
    border-top-left-radius: 110px;
}
@media all and (max-width: 375px) {
    .deco-1 {
        background: linear-gradient(222deg, var(--main-gradient, red), var(--secondary-gradient, blue));
        width: 190px;
        height: 495px;
        border-bottom-right-radius: 110px;
        border-bottom-left-radius: 110px;
    }
    .deco-2 {
        display: none;
    }
}
/* end deco */
/* start phone */
.phone {
    height: 554px;
    width: 265px;
    border: 8px solid var(--white, white);
    border-radius: 25px;
    background-color: var(--light-grayish-violet);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px #c5c5c5;
}
.phone::before {
    content: "";
    width: 140px;
    height: 20px;
    background-color: var(--white, white);
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.head {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, var(--main-gradient, red), var(--secondary-gradient, blue));
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.head .left {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    margin: 11px 0px 0px 8px;
}
.image {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    border: 1px solid white;
    background-image: url("../images/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.user {
    font-size: 12px;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}
.status {
    font-size: 9px;
    opacity: 50%;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}
.head i:last-child{
    width: 20px;
    margin-top: 11px;
}
.chat-1, .chat-2, .chat-3, .chat-4, .chat-5, .chat-6, .chat-7, .chat-8 {
    height: 42.625px;
    width: 150px;
    /* margin: 10px 12px; */
    font-size: 10px;
    padding: 8px;
    border-radius: 8px;
}
.chat-6 {
    padding: 6px;
    height: 50.625px;
}
.chat-1,
.chat-2, 
.chat-6, 
.chat-7, 
.chat-8 {
    background-color: var(--very-light-magneta-op);
    color: var(--secondary-gradient);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-left: 10px;
}
.chat-3,
.chat-4, 
.chat-5 {
    align-self: flex-end;
    background-color: var(--white);
    color: black;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-right: 10px;
} 
.chat-5 {
    height: 33.625px;
}
.chat-3 {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0px;
}
.chat-3 img {
    height: 42.625px;
    width: 30%;
    border-radius: 12px;
}
.send {
    height: 35px;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 8px;
}
.send p {
    font-size: 12px;
    opacity: 50%;   
    font-family: 'Rubik', sans-serif;
    margin-left: 10px;
}
button {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    background-color: var(--very-dark-desaturated-violet);
}
@media all and (max-width: 375px) {
    .phone {
        height: 450px;
        width: 215px;
    }
    .phone::before {
        width: 100px;
    }
    .chat-1, .chat-2, .chat-3, .chat-4, .chat-5, .chat-6, .chat-7, .chat-8 {
        height: 36.625px;
    }
    .head {
        height: 55px;
    }
    .send {
        height: 26px;
    }
    button {
        height: 22px;
        width: 22px;
    }
    .text {
        width: 337px;
        height: 170px;
    }
}
/* end phone */
/* text start  */
.text {
    width: 450px;
    height: 200px;
}
.text p:first-child {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--very-dark-desaturated-violet);
    margin-bottom: 20px;
}
.text p:last-child {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    opacity: 50%;
    font-size: 15px;
    color: var(--very-dark-desaturated-violet);
}
@media all and (max-width: 375px) {
    .text {
        width: 337px;
        height: 180px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text p:first-child {
        text-align: center;
    }
    .text p:last-child {
        font-size: 14px;
        text-align: center;
    }
}
/* text end  */

